<!doctype html>
<html>

<head>
  <meta charset='utf-8' />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1" /> -->
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
</head>

<body>
  <script type='text/javascript' src='./Cones.js'></script>
  <script type='text/javascript'>
    // FPS counter from mrdoob/stats.js
    (function () {
      var script=document.createElement('script');
      script.onload = () => {
        var stats=new Stats();
        document.body.appendChild(stats.dom);
        requestAnimationFrame(function loop() {
            stats.update();
            requestAnimationFrame(loop)
          });
        };
        script.src='https://mrdoob.github.io/stats.js/build/stats.min.js';
        document.head.appendChild(script);
      }
    )();
  </script>
</body>

</html>
