<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1" /> -->
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
</head>

<body>
    <div id="container">
        <div id="nav"><ul><li><a href="https://github.com/Kitware/vtkWasmBenchmarks"></a>Web Benchmarks</li></ul></div>
        <div id="header"><h1><a href="https://www.vtk.org">VTK</a></h1></div>
        <div id="wrapper">
            <div id="content">
                <article onclick="window.location.href='./cones/webgl.html';">
                    <h1><a href="./cones/webgl.html">Many Objects with VTK(OpenGL)</a></h1>
                    <p>OpenGL, VTK, C++, WebAssembly</p>
                </article>
                <article onclick="window.location.href='./cones/index.html?viewAPI=WebGPU';">
                    <h1><a href="./cones/index.html?viewAPI=WebGPU">Many Objects with VTK(WebGPU)</a></h1>
                    <p>WebGPU, VTK, C++, WebAssembly</p>
                </article>
                <article onclick="window.location.href='./conesjs/index.html?viewAPI=WebGL';">
                    <h1><a href="./conesjs/index.html?viewAPI=WebGL">Many Objects with vtk.js (WebGL)</a></h1>
                    <p>WebGL, vtk.js</p>
                </article>
                <article onclick="window.location.href='./conesjs/index.html?viewAPI=WebGPU';">
                    <h1><a href="./conesjs/index.html?viewAPI=WebGPU">Many Objects with vtk.js (WebGPU)</a></h1>
                    <p>WebGPU, vtk.js</p>
                </article>
            </div>
        </div>
    </div>
</body>

</html>
