body {
    background: rgb(66, 66, 66);
    font-family: 'Exo 2';
    color: #ccc;
}

#container {
    margin: 0 auto;
    width: 70%;
    background: #111;
    padding: 20px;
    border: 1px #222 solid;
}

#header h1 {
    margin: 0;
}

#nav ul {
    margin: 0;
}

#nav li {
    font-weight: bold;
    float: right;
    list-style: none;
    margin-left: 10px;
}

#header a,
#nav a {
    color: rgb(28, 161, 202);
    text-decoration: none;
}

#header a:hover,
#nav a:hover {
    color: rgb(157, 204, 255);
    text-decoration: underline;
}

a {
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: rgb(115, 114, 114);
    background: #ffffff;
}
